/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #066E95;
    font-size: .8em;
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-image: url(images/bg4.gif);
    background-repeat:repeat-x;
}

a:link
{
    color: #7EB543;
    text-decoration: none;
    font-weight:bold;
    font-size:1.1em;
}
a:visited
{
    color: #7EB543;
    font-weight:bold;
    text-decoration: none;
    font-size:1.1em;
}
a:hover
{
    color: #7EB543;
    text-decoration: none;
    font-weight:bold;
    font-size:1.1em;
}
a:active
{
    color: #7EB543;
    font-weight:bold;
    text-decoration: none;
    font-size:1.1em;
}

a#logo-feedme{
	height:100px;
	background-image:url(images/logo.png);
	float:left;
	display:block;
	width:250px;
	margin-top:-20px;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color:#eee;
    font-family: sans-serif;
    font-weight:bold;
    padding:1em;
    margin-top:0;
}

h1
{
    font-size: 2em;
    color:#eee;
    background-color:#388BAA;
    background-image: url(images/title-bg5.png);
    background-repeat:no-repeat;
    padding:1em;
    padding-left:180px;
    -moz-border-radius: 15px;
    margin-top:0;
    font-weight:bold;
}
h2
{
    color:#505050;
}
h3
{
    font-size: 1.2em;
    color:#a9a9a9;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #000;
    height:80px;
    -moz-border-radius: 15px;
    /*border: 3px solid #e0e0e0;*/
    background-color: #eee;
    padding:1em;
    
    /*background-image: url(images/header-bg.png);
    background-repeat:repeat-x;*/
}

#order
{
    height:40px;
    -moz-border-radius: 15px;
    background-color:#eee;
    width: 250px;
    margin-left: 725px;
    padding:1em;
    margin-bottom:2em;
}

#header h1
{
    font-weight: bold;
    margin-top: 0;
    color: #000;
    font-family: sans-serif;
}

#main
{
    padding: 1em;
    background-color: #fff;
    border: 3px solid #e0e0e0;
    margin-bottom: 30px;
    -moz-border-radius: 15px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    position: relative;
    margin: 0;
    text-align: center;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #eee;
    color: #066E95;
    -moz-border-radius: 15px 15px 0 0;
}

ul#menu li a:hover
{
    background-color: #7EB543;
    color: #eee;
    text-decoration: none;
}

ul#menu li a.selected
{
    background-color: #7EB543;
    color: #eee;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border:1px solid #84D2EE;
    color:#528394;
    font-size:1em;
    height:20px;
    padding:3px 7px;
    -moz-border-radius: 15px;
}

input[type="password"] 
{
    width: 200px;
    border:1px solid #84D2EE;
    color:#528394;
    font-size:1em;
    height:20px;
    padding:3px 7px;
    -moz-border-radius: 15px;
}

.textOutputBlue{
    background-color:#007be4;
    font-size:1em;
    color: white;
    padding:1em;
    -moz-border-radius: 15px;
    text-align:right;
    font-weight:bold;
    width:30%;
}

.textOutputNoh {
    border:1px solid #84D2EE;
    color:#528394;
    font-size:1em;
    padding:1em;
    -moz-border-radius: 15px;
    font-weight:bold;
}

/* TABLE*/
----------------------------------------------------------

.output_table 
{
}

.output_table td 
{
  padding: 20px;   
  font-size: 14px;
  font-weight:bold;
}

.output_table tr:hover
{
    background-color: #def;
}

.output_table th
{
  font-size: 16px;
  font-weight:bold;
  padding: 6px 5px;
  text-align: center;
  background-color: #454545;
  color: White;   
}

.sub-total
{
    background-color: Gray;
    color:White;
}

#buttons_table td
{
    padding:0;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    float:right;
    width:575px;
    height:80px;
    color:black;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*-------------------------*/

#filtering-nav .blue_button {
    background-color: #066E95;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

#filtering-nav .blue_button:hover {
    background-color: #7EB543;
    font-weight: bold;
    color: #eee;
}

#filtering-nav .blue_button.selected {
    background-color: #7EB543;
    font-weight: bold;
    color: #eee;
}

#filtering-nav .black_button {
    background-color: #1f1f1f;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

#filtering-nav .black_button:hover {
    background-color: #eee;
    font-weight: bold;
    color: #1f1f1f;
}

#filtering-nav .all { background-color: #FFF;}

#filtering-nav {
    padding: 0;
    /*margin: 2em 0;*/
}

#filtering-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

#filtering-nav li a {
    text-align: center;
    display: block;
    padding: .5em 1.0em;
    margin-right: 5px;
    background-image: -moz-linear-gradient(-90deg,
        hsla(0,0%,100%,.4),
        hsla(0,0%,100%,.0) 50%,
        hsla(0,0%,0%,.0) 50%,
        hsla(0,0%,0%,.1) 100%
    );
    background-image: -webkit-gradient(linear, 0 top, 0 bottom,
        from(hsla(0,0%,100%,.4)),
        color-stop(50%, hsla(0,0%,100%,.0)),
        color-stop(50%, hsla(0,0%,0%,.0)),
        to(hsla(0,0%,0%,.1))
    );
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px hsla(0,0%,0%,.3);
       -moz-box-shadow: 0 1px 2px hsla(0,0%,0%,.3);
            box-shadow: 0 1px 2px hsla(0,0%,0%,.3);
}

#friendlist 
{
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border: 1px solid #999;
    width: 60%;
    height: 80px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    padding:5px; 
}

#profile_photo 
{
    width: 75px;
    height: 75px;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border: 1px solid #999;
    float:left;
}
